:root {
    --blue: #020575;
    --light: #e4e4ef;
    --dark: #78849A;
}

@media(prefers-reduced-motion: no-preference) {
    :root{
      scroll-behavior:smooth;
    }
  }
  
html{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.2em;
}

a {
    color: inherit;
    display: block;
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
}

.heading{
    font-size: 18px;
    margin: 24px 0px 24px 0px;
    display: block;
    /* width: 100%; */
}

.main-container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    /* width: 1420px; */
    max-width: 100%;
    width: 1170px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card__img{
    width: 100%;
}
.card__title{
    margin-top: 8px;
}

.card__img-wrapper{
    width: 280px;
    height: 180px;
    display: flex;
}

.card__img{
    object-fit: cover;
}

.card__img-wrapper--big{
    width: 580px;
    height: 360px;
}

.card{
    margin-bottom: 24px;
    display: block;
}

.unordered-list{
    list-style: disc;
    margin-left: 14px;
}

.benefits{
    border-bottom: 1px solid var(--dark);
}

.unordered-list__item{
    margin-bottom: 12px;
}
.heading-link{
    color: var(--dark);
    text-decoration: underline;
    display: inline-block;
}
.heading-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about{
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
    padding-bottom: 24px;
}
.about__text{
    margin-bottom: 12px;
}

.texts-block__title{
    font-weight: bold;
    margin-bottom: 8px;
}

.texts-block{
    width: 280px;
    margin-bottom: 24px;
    display: block;
}
.texts-block__text{
    margin-bottom: 12px;
}
.texts{
    display: block;
}
.text-block__date{
    color: var(--dark);
    margin-top: 8px;
}

.texts-blocks-wrapper{
    display: flex;
    justify-content: space-between;
}

.sidebar-menu__item-link{
    font-size: 18px;
    margin-bottom: 24px;
    display: block;
}

.sidebar-menu{
    border-bottom: 1px solid var(--dark);
    margin-top: 18px;
}

.heading--banner{
    color: var(--blue);
    margin: 0;
    margin-bottom: 12px;
    font-weight: bold;
    line-height: 1.2em;
}

.heading-block--banner{
    align-items: start;
}

.banner{
    border: 2px solid var(--blue);
    border-radius: 5px;
    padding: 24px;
    display: block;
    /* margin-top: 24px; */
}

.map{
    width: 580px;
    margin-top: 12px;
}


.map-contacts{
    border-top: 1px solid var(--dark);
    margin-bottom: 24px;
}
.map-contacts__line{
    margin-bottom: 12px;
    max-width: 280px;
}
.map-contacts__lines{
    margin-right: 20px;
}
.articles, .other-services{
    position: sticky;
    top: 0;
}

.map-contacts__text{
    display: flex;
}

.full-price{
    border-top: 1px solid var(--dark);
    padding: 12px 0px 24px 0px;
}

.texts-block__title--article{
    font-size: 18px;
    margin: 24px 0px 12px 0px;
}

.text-block--article{
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dark);
}

.categories{
    display: block;
    border-bottom: 1px solid var(--dark);
}